.noted-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
.message-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.message-input h1 {
    font-size: 2em;
    font-weight: 300;
}
.input-holder {
    height: 75vh;
    width: 80vw;
    background-color: #ffffff;
    box-shadow: 10px 25px 50px 5px rgba(152, 152, 152, 0.15);
}
.input-holder p {
    font-weight: 300;
    padding: 10px;
    height: 75%;
    width: 100%;
    border: none;
    outline: none;
}
.btn-style{
    display: flex;
    justify-content: end;  
    padding: 10px;
}
.listen-btn {
    padding: 8px 16px;
    margin: 5px;
    outline: none;
    border: none;
    background-color: #008EFE;
    color: #ffffff;
    cursor: pointer;
}
.listen-btn:hover {
    background-color: #0383e5;
}
.paste-input {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    width: 80vw;
    background-color: #ffffff;
}
.paste-input textarea {
    height: 30vh;
    width: 100%;
    outline: none;
    border: none;
    padding: 10px;
    font-size: 0.9em;
    font-family: 'Poppins', sans-serif;
}
.priority {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    width: 80vw;
    background-color: #ffffff;
}
.priority-btn-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.priority p{
    margin-left: 10px;
}
.priority-btn {
    padding: 10px 20px;
    margin-right: 5px;
    color: #ffffff;
    border: none;
    outline: none;
    font-weight: 600;
    cursor: pointer;
    border-radius: 15px;
}
.high {
    background-color: #F85959;
}
.medium {
    background-color: #05DB34;
}
.low {
    background-color: #EBEF27;
}
.add-holder {
    margin-top: 15px;
    display: flex;
    justify-content: start;
    width: 80vw;
}
.add-btn {
    font-size: 1.2em;
    padding: 8px 32px;
}
.noted-output {
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.output-card {
    display: flex;
    margin: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55vh;
    width: 30vw;
    background-color: #ffffff;
    border-radius: 15px;
}
.output-card .span {
    transform: translate(15vw,-15vh);
    /* transform: translateY(-15px); */
    height: 30px;
    width: 30px;
    background: #008EFE;
    border-radius: 50%;
}
.output-card p {
    padding: 10px;
    font-weight: 300;
}
